:root {
    --standard-color-hover: rgba(245, 245, 245, 0.276);
    --primary-color: black;
    --secondary-color: white;
    --primary-background-color: white;
    --secondary-background-color: black;
    --third-background-color: whitesmoke;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    background-color: var(--primary-background-color);
    color: var(--primary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header,
footer {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

header img {
    height: 80px;
    width: auto;
}

nav {
    width: 100%;
    grid-column: span 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

header h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-background-color);
    color: var(--secondary-color);
}

h2 {
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--secondary-background-color);
    color: var(--secondary-color);
}

a {
    padding: 5px;
    text-decoration: none;
    color: var(--body-font);
}

a:hover {
    background-color: var(--standard-color-hover);
}

.hero article {
    position: absolute;
    margin: 0px;
    padding: 15px;
    bottom: 20px;
    width: 80%;
    opacity: 0.9;
    background-color: var(--third-background-color);
}

.hero article img {
    float: right;
    width: 125px;
    height: auto;
}

.history {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.history h2 {
    grid-column: span 3;
}

.history img {
    width: 240px;
    height: auto;
}

.adventure {
    max-width: 840px;
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
}

.adventure h2 {
    grid-column: span 5;
}

.adventure figure {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

figure figcaption {
    text-align: center;
}

figure img {
    width: auto;
    height: 120px;
}

footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
}

footer p {
    grid-column: span 5;
}

footer .socialmedia {
    grid-column: span 1;
    display: flex;
    flex-direction: row;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img {
    height: 40px;
    width: auto;
}