:root {
    --standard-color-hover: rgba(245, 245, 245, 0.276);
    --primary-color: black;
    --secondary-color: white;
    --primary-background-color: white;
    --secondary-background-color: black;
    --third-background-color: whitesmoke;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    background-color: var(--primary-background-color);
    color: var(--primary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header,
footer {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

header img {
    height: 80px;
    width: auto;
}

nav {
    width: 100%;
    grid-column: span 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

header h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-background-color);
    color: var(--secondary-color);
}

.hero h2 {
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--secondary-background-color);
    color: var(--secondary-color);
}

a {
    padding: 5px;
    text-decoration: none;
    color: var(--body-font);
}

a:hover {
    background-color: var(--standard-color-hover);
}

.hero article {
    position: absolute;
    margin: 0px;
    padding: 15px;
    bottom: 20px;
    width: 80%;
    opacity: 0.9;
    background-color: var(--third-background-color);
}

.hero article img {
    float: right;
    width: 125px;
    height: auto;
}

.history {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.history h2 {
    grid-column: span 3;
}

.history img {
    width: 240px;
    height: auto;
}

.adventure {
    max-width: 840px;
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
}

.adventure h2 {
    grid-column: span 5;
}

.adventure figure {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

figure figcaption {
    text-align: center;
}

figure img {
    width: auto;
    height: 120px;
}

footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
}

footer p {
    grid-column: span 5;
}

footer .socialmedia {
    grid-column: span 1;
    display: flex;
    flex-direction: row;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img {
    height: 40px;
    width: auto;
}

.contact-section {
    text-align: center;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.contact-title {
    color: black;
    font-size: 30px;
}

.contact-section p {
    padding: 0px;
    margin: 10px;
}

.contact-section p span {
    font-weight: bold;
}

.map-and-form-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.map {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map iframe {
    width: 100%;
    height: 100%;
    border: 0px;
}

.form-title-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(59, 59, 59);
    color: white;
}

.form-title-container h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.form-title-container p {
    font-size: 18px;
    flex-wrap: wrap;
    text-align: center;
}

.contact-form {
    padding: 10px;
    display: grid;
    gap: 5px;
}

input,
textarea,
select {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 2px solid #9494948f;
    font-size: 16px;
}

input[type="radio"]:hover,
input[type="checkbox"]:hover {
    cursor: pointer;
}

.contact-information {
    display: flex;
    flex-wrap: wrap;
}

.contact-information label {
    flex: 0 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-information input {
    flex: 1;
    box-sizing: border-box;
}

.purpose-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.purpose-section p {
    columns: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.purpose-selection {
    width: 100%;
    grid-column: span 2;
    font-size: 16px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.purpose {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 5px;
}

.message-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.suscription-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 10px;
}

button[type="submit"] {
    height: 40px;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: whitesmoke;
    border: 1px solid gray;
    cursor: pointer;
}

.employees-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.employees-section h2 {
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.employees {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.explore-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(59, 59, 59);
}

.explore-section h2 {
    color: white;
    font-size: 24px;
}

.explore-button {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    font-size: 24px;
}

.explore-button:hover {
    color: black;
    background-color: whitesmoke;
    border: 1px solid rgb(59, 59, 59);
}

.plan-description-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.plan-description-section h2,
.plan-description-section p {
    grid-column: span 2;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

.plan-image,
.plan-description {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.plan-image img {
    width: 100%;
}

.plan-description {
    font-size: 20px;
}

.plan-description p {
    margin: 5px;
}

.color {
    color: maroon;
    font-weight: bold;
}

p span {
    font-weight: bold;
}

.section-header {
    text-align: center;
    font-size: 16px;
    margin: 10px;
}

table {
    width: 100%;
    border: 1px solid whitesmoke;
    padding-bottom: 10px;
    font-size: 16px;
}

thead {
    text-align: center;
    background-color: whitesmoke;
}

tbody {
    gap: 5px;
}