:root {
    --standard-color: darkblue;
    --standard-border-color: gray;
    --secondary-color: whitesmoke;
    --footer-color: #333333;
    --shadow-color: gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--standard-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--standard-color);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px var(--shadow-color);
}

p {
    padding: 0;
}

main {
    margin: 10px;
    clear: both;
}

main img {
    width: 180px;
    height: auto;
    padding: 0;
    border: 1px solid var(--standard-border-color);
    box-shadow: 0px 0px 5px;
    float: right;
    margin-left: 15px;
    margin-right: 15px;
}

main p {
    padding: 10px;
    text-align: justify;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 40px;
    left: 40px;
    color: white;
}

aside img {
    width: 280px;
    height: auto;
    box-shadow: 0px 0px;
}

footer {
    margin: 15px 0 0 0;
    padding: 10px;
    margin-top: 15px;
    border-top: 1px solid var(--footer-color);
    background-color: var(--footer-color);
    text-align: center;
    color: white;
}

/* Class selectors */

.box {
    margin: 1em;
    padding: 1em;
    background-color: var(--secondary-color);
    border: 1px solid var(--standard-color);
    color: black;
}