:root {
    --standard-color: darkblue;
    --standard-border-color: gray;
    --footer-color: #333333;
    --shadow-color: gray;
}

nav {
    background-color: var(--standard-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--standard-color);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px var(--shadow-color);
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    padding: 0;
    border: 1px solid var(--standard-border-color);
    box-shadow: 0px 0px 5px;
}

aside {
    width: 20rem;
    border: 1px solid var(--standard-border-color);
    margin: 1em;
    padding: 1em;
    background-color: whitesmoke;
    color: black;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin: 15px 0 0 0;
    padding: 10px;
    margin-top: 15px;
    border-top: 1px solid var(--footer-color);
    background-color: var(--footer-color);
    text-align: center;
    color: white;
}