:root {
    --standard-color: darkblue;
    --standard-color-hover: rgba(245, 245, 245, 0.276);
    --standard-border-color: gray;
    --secondary-color: whitesmoke;
    --footer-color: #333333;
    --shadow-color: gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

nav {
    background-color: var(--standard-color);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header,
footer,
.grid {
    max-width: 840px;
    margin: 0, auto;
}

.grid {
    display: grid;
    grid-template-columns: auto 300px;
}

a {
    display: block;
    text-decoration: none;
}

a:hover {
    background-color: var(--standard-color-hover);
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--standard-color);
    border-bottom: 2px solid var(--standard-color);
    padding-bottom: 2px;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px var(--shadow-color);
}

p {
    padding: 0;
}

main img {
    width: 180px;
    height: auto;
    padding: 0;
    border: 1px solid var(--standard-border-color);
    box-shadow: 0px 0px 5px;
    float: right;
    margin-left: 15px;
    margin-right: 15px;
}

main p {
    padding: 10px;
    text-align: justify;
}

aside {
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    font-size: 20px;
    top: 40px;
    left: 35px;
    color: white;
}

aside img {
    width: 220px;
    height: auto;
    box-shadow: 0px 0px;
}

footer {
    padding: 10px;
    border-top: 1px solid var(--footer-color);
    background-color: var(--footer-color);
    text-align: center;
    color: white;
}

/* Class selectors */

.box {
    margin: 1em;
    padding: 1em;
    background-color: var(--secondary-color);
    border: 1px solid var(--standard-color);
    color: black;
}