* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 15px 0;
}

header p {
    font-size: 2.5em;
}

main h1 {
    margin-top: 20px;
    text-align: center;
}

picture img {
    display: block;
    max-width: 50%;
    margin: 15px auto;
    box-shadow: 7px 7px 30px #333333;
}

section {
    margin: 20px auto;
    padding: 20px;
    max-width: 50%;
    background-color: #dddddd;
    line-height: 1.5em;
}

section h2 {
    border-bottom-width: 1px;
    border-bottom-color: #333333;
    border-bottom-style: solid;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

section p {
    margin-bottom: 15px;
}

section ul {
    padding-left: 25px;
}